
/* Background Video Styles */
.mainContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.videoSrc {
    width: 960px;
    height: 480px; 
}

.headerContainer, .scoreContainer, .buttonContainer, .story_rulesContainer, .footContainer {
    z-index: 1;
}






